<% @title = t("label.artists") %>
<% content_for :left_nav do %>
<div class="disbl pt10">
<ul class="nav nav-list">
  <li class="nav-header"><%= t("label.artists") %></li>
  <% @artists.each do |artist| %>
  <li id="a<%= artist.id %>"><a href="<%= tracks_artist_path(artist.uqid) %>" class="lnav-menu"><i class="icon-small icon-user"></i><%= artist.name %></a></li>
  <% end %>
</ul>
</div>
<% end %>
<div class="disbl mb30">
<% @artists_ordered.each do |artist| %>
<div class="disbl bdrb">
<%= render "artists/show_w", :artist => artist.artist, :tracks => top3_tracks_by_artist(artist.artist_id), :track_count => artist.track_count %>
</div>
<% end %>
</div>
