<div class="tbc home-tbc"><div class="container"><div class="tb">
  <div class="w100"><%= image_tag APP_CONFIG['cdn_base_url'] + "/images/logo-m.png" %></div>
  <div><a href="#"><%= t("label.features")%></a></div>
  <div><a href="#"><%= t("label.plan")%></a></div>
  <div><a href="#"><%= t("label.log_in")%></a></div>
  <div><a class="btn btn-info"><%= t("label.get_prod")%></a></div>
</div></div></div>
