<% @title = t("title") %>
<div class="home-bg"><%= image_tag APP_CONFIG['cdn_base_url'] + "/images/home/25855521.jpg" %></div>

<div class="home-cp">
  <span class="home-banner"><h1><%= t("txt.slogan") %></h1></span>
  <span><%= t("txt.caption") %></span>
  <div class="home-search">
    <div class="w100 p-r30"><%= text_field_tag :q, nil, :class => "w100", :placeholder => t("txt.search_prompt") %></div>
    <div><%= submit_tag t("label.find"), :class => "btn btn-info" %></div>
  </div>
</div>

