<% @title = @album.name + " - " + t("label.album") %>
<% content_for :left_nav do %>
<ul class="nav nav-list">
  <li class="nav-header"><%= t("label.albums") %></li>
  <% @albums.each do |album| %>
  <li class="<%= album.id == @album.id ? "active" : "" %>"><a href="<%= album_path(album.uqid) %>"><i class="icon-small icon-album"></i> <%= album.name %></a></li>
  <% end %>
</ul>
<% end %>
<%= render "albums/show_w" %>
