<div class="disbl mau mt30" style="width:520px;">
  <h1 class="tac dvdb"><%= t("txt.welcome_back") %></h1>
  <div class="disbl mt20 pb10 dvdb">
    <%= render "shared/errors" %>
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div class="form-horizontal" style="">
      <div class="control-group">
        <%= f.label :email, :class => "control-label" %>
        <div class="controls">
          <%= f.email_field :email, :autofocus => true %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :password, :class => "control-label" %>
        <div class="controls">
          <%= f.password_field :password %>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <label class="checkbox"><%= f.check_box :remember_me %><%= t("label.remember_me")%></label>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <%= f.submit t("label.log_in"), :class => "btn btn-info btn-l" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div class="disbl tac hlinks mt20"><%= render "devise/shared/links" %></div>
</div>
