<% @title = current_user.name + " - " + t("label.friends") %>
<%= content_for :left_nav do %>
  <%= render "account/menu", :lmenu => "friends" %>
<% end %>
  <div class="disbl p30">
    <%= form_tag account_invite_friend_path, :class => "form-inline" do %>
    <%= text_field_tag :emails, nil %><%= submit_tag t("label.send_invite"), :class => "btn btn-primary ml10" %>
    <% end %>
  </div>
<% if @friends.count == 0 %>
<% else %>
<% end %>
