<!DOCTYPE html>
<html>
<%= render "layouts/head" %>
<body class="<%= @customBodyClass %>">
<%= yield(:topbar) %>
<div class="container <%= !@homePage ? "mp" : "" %>">
<%= yield(:content) %>
</div>
<div class="container">
<%= render 'layouts/footer' %>
</div>
</body>
</html>
