<!DOCTYPE html>
<html>
<%= render "layouts/head" %>
<body class="<%= @customBodyClass %>">
<%= yield(:topbar) %>
<div class="container <%= !@homePage ? "mp" : "" %>">
<%= yield(:content) %>
</div>
<div class="<%= @homePage ? "footer-bottom" : "" %>"><div class="container">
<%= render 'layouts/footer' %>
</div></div>
<script>
$(document).ready(function() {
  jkCommon.init();
});
$(document).bind("ready ajaxComplete", function() {
  jkCommon.initAjax();
});
</script>
</body>
</html>
