<% @title = t("label.sign_up")%>
<% @custom_css_files = ["home"] %>
<div class="disbl mau mt30" style="width:520px;">
  <h1 class="tac dvdb"><%= t("txt.create_acc") %></h1>
  <div class="disbl mt20 pb10 dvdb">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <div class="form-horizontal" style="">
      <div class="control-group">
        <%= f.label t("label.name"), :class => "control-label", :for => "user_name" %>
        <div class="controls">
          <%= f.text_field :name, :autofocus => true %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label t("label.email"), :class => "control-label", :for => "user_email" %>
        <div class="controls">
          <%= f.email_field :email, :value => @email, :disabled => (@friend_request != nil) %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label t("label.password"), :class => "control-label", :for => "user_password" %>
        <div class="controls">
          <%= f.password_field :password %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label t("label.confirm"), :class => "control-label", :for => "user_password_confirmation" %>
        <div class="controls">
          <%= f.password_field :password_confirmation %>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <%= f.submit t("label.sign_up"), :class => "btn btn-info btn-l" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div class="disbl tac hlinks mt20"><%= render "devise/shared/links" %></div>
</div>
